<div class="container">
    <h3>Add Employee</h3>
    <hr>

    <form #employeeRef="ngForm" (ngSubmit)="addNewEmployee(employeeRef)">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <b>Employee FirstName:</b>
            </div>
            <div class="col-lg-2">
                <input type="text" name="employeeFirstName" id="employeeFirstName" required minlength='2' ngModel/>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <b>Employee LastName:</b>
            </div>
            <div class="col-lg-2">
                <input type="text" name="employeeLastName" id="employeeLastName" required minlength='2' ngModel/>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <b>Employee UserName:</b>
            </div>
            <div class="col-lg-2">
                <input type="text" name="employeeUserName" id="employeeUserName" required   ngModel/>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <b>Employee EmailId:</b>
            </div>
            <div class="col-lg-2">
                <input type="email" name="employeeEmailId" id="employeeEmailId" required ngModel/>

            </div>
        </div>
        <div class="row justify-content-center">
            <input type="submit" class="col-3 btn btn-success" value="Add New Employee"><br/>
        </div>
        <div class="row justify-content-center">
            <input type="reset" class="col-3 btn btn-warning" value="Reset"><br/>
        </div>
        <h3 class="text-primary">{{msg}}</h3>
    </form>
</div>
