<div class=container-fluid>
    <div class="row justify-content-center">
        <div class="col-12"><h1>Admin Login</h1></div>
        <input type="button" class="btn btn-secondary col-lg-3" value="Go Back To Admin Home" routerLink="/admin">
    </div>
    <hr/>
    <div class="row">
        <div class="col-3 justify-content-start">
            <div class=container id=navbar>
                <div class="row"><input type="button" class='btn btn-secondary' value="Add a new product" #button1 (click)=goToAddNewProduct(button1)></div><br/>
                <div class="row"><input type="button" class='btn btn-secondary' value="Delete a product" #button2 (click)=goToDeleteProduct(button2)></div><br/>
                <div class="row"><input type="button" class='btn btn-secondary' value="Update product info" #button3 (click)=goToUpdateProductInfo(button3)></div><br/>
                <div class="row"><input type="button" class='btn btn-secondary' value="View product requests"#button4 (click)=goToProductRequestPage(button4)></div><br/>
                <div class="row"><input type="button" class='btn btn-secondary' value="Add a new Employee" #button5 (click)=goToAddNewEmployee(button5)></div><br/>
                <div class="row"><input type="button" class='btn btn-secondary' value="Delete an Employee" #button6 (click)=goToDeleteEmployee(button6)></div><br/>
                <div class="row"><input type="button" class='btn btn-secondary' value="Generate Reports" #button7 (click)=goToGenerateReports(button7)></div><br/>
                <div class="row"><input type="button" class='btn btn-danger' value="Logout" (click)=logoutAdmin()></div><br/>
            </div>
            
        </div>
        <div class="col-9 align-items-center">
            <div class=container>
                <app-admin-add-product *ngIf="displayBlock==1"></app-admin-add-product>
                <app-admin-delete-product *ngIf="displayBlock==2"></app-admin-delete-product>
                <app-admin-update-product *ngIf="displayBlock==3"></app-admin-update-product>
                <app-admin-view-requests *ngIf="displayBlock==4"></app-admin-view-requests>
                <app-admin-add-employee *ngIf="displayBlock==5"></app-admin-add-employee>
                <app-admin-delete-employee *ngIf="displayBlock==6"></app-admin-delete-employee>
                <div  *ngIf="displayBlock==7">Reports go here</div>
            </div>
        </div>
    </div>
</div>
