<div>
    <input type="button" value="Add a new product" (click)=goToAddNewProduct()><br/>
    <input type="button" value="Delete a product" (click)=goToDeleteProduct()><br/>
    <input type="button" value="Update product info" (click)=goToUpdateProductInfo()><br/>
    <input type="button" value="View product requests" (click)=goToProductRequestPage()><br/>
    <input type="button" value="Add a new Employee" (click)=goToAddNewEmployee()><br/>
    <input type="button" value="Delete an Employee" (click)=goToDeleteEmployee()><br/>
    <input type="button" value="Delete a product" (click)=goToDeleteProduct()><br/>
    <input type="button" value="Logout" (click)=logoutAdmin()><br/>
    <input type="button" value="Back to home" (click)=goBackToHomePage()><br/>
    {{msg}}
</div>
