<div class=container>
    <h2>
        Welcome to TCS Grocers please select your user type.
    </h2>
    <br/>
    <div class='row justify-content-center'>
        <button class='btn btn-warning col-2' routerLink="/admin">Admin</button>
    </div>
    <br/>
    <div class='row justify-content-center'>
        <button class='btn btn-primary col-2' routerLink="/user">Customer/User</button>
    </div>
    <br/>
    <div class='row justify-content-center'>
        <button class='btn btn-success col-2' routerLink="/employee">Employee</button>
    </div>


</div>