<h1>Login Page</h1>


<div class="container1">
    <form>
    <div class="row">
      <label for="uid" class="col-sm-2 col-form-label">Login ID</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="uid" placeholder="Login ID">
      </div>
    </div>
    <div class="row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
    </div>
   
      <div class="form-check">
      <div class="row">
        
        
        </div>
        <br>
        <div class="col">
            <button class="btn login"><a routerLink="/user" routerLinkActive="active">Login</a></button>
            <button class="btn userAccount"><a routerLink="/UserSignUp" routerLinkActive="active">Create Account</a></button>
            <button class="btn " ><a routerLink="/serviceRequest" routerLinkActive="active">Raise Ticket</a></button>
        </div>
      
    
    </div>
  </form>
  </div> 