<div class=container>
    <h3>Product Requests</h3>
    <div class="row justify-content-center">
        <input type="button" class="col-3 btn btn-secondary" value={{buttonMsg}} (click)="openCloseSwitch()">
    </div>
</div>
<div class=container>
    <div class="row justify-content-center">
        <table class=table>
            <thead>
                <tr>
                    <th scope=col>Request ID</th>
                    <th scope=col>Employee ID</th>
                    <th scope=col>Product ID</th>
                    <th scope=col>Request Type</th>
                    <th scope=col *ngIf="!openOnly">Request Status</th>
                    <th scope=col>Open/Close</th>
                </tr>
            </thead>
            <tbody *ngFor="let request of productReqs">
                <tr *ngIf="!openOnly || (openOnly && request.openclosed==0)" [ngClass]="{'table-success':request.openclosed==1,'table-warning':request.openclosed==0}">
                    <th>{{request._id}}</th>
                    <td>{{request.employeeID}}</td>
                    <td>{{request.productID}}</td>
                    <td *ngIf="request.requestType==1">Update Name</td>
                    <td *ngIf="request.requestType==2">Update Price</td>
                    <td *ngIf="request.requestType==3">Update Quantity</td>
                    <td *ngIf="request.requestType==4">Update Discount</td>
                    <td *ngIf="request.requestType==5">Delete Product</td>
                    <th *ngIf="!openOnly && request.openclosed==0">Open</th>
                    <th *ngIf="!openOnly && request.openclosed==1">Closed</th>
                    <button *ngIf="request.openclosed==0" (click)="closeTicket(request._id)" class="btn btn-info text-success">Close Request #{{request._id}}</button>
                    <button *ngIf="request.openclosed==1" (click)="openTicket(request._id)" class="btn btn-info text-danger">Open Request #{{request._id}}</button>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>