<form #addFundsRef="ngForm" (submit)="addFunds(addFundsRef)">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <h4>Current funds are ${{funds}}</h4>
            <h5>How much would you like to add?</h5>
        </div>
        <div class="col-3">
            <b>Funds To Add: $</b>
        </div>
        <div class="col-3">
            <input type="text" name="funds" id="funds" ngModel/><br/>
        </div>
    </div>
    <br/>
    <h6 class=text-danger>{{msg}}</h6>
    <div class="row justify-content-center">
        <input type="submit" class="col-3 btn btn-success" value="Add Funds"><br/>
    </div>
    <div class="row justify-content-center">
        <input type="reset" class="col-3 btn btn-warning" value="Reset Field"><br/>
    </div>
</form>
