<form #orderRef="ngForm" (ngSubmit)="updateStatus(orderRef)">
    <label>OrderId</label>
    <input type="text" name="orderID" ngModel><br>
    <label for="">Status</label>
    <input list="browsers" name="newOrderStatus" ngModel><br>

        <datalist id="browsers" ng-model>
            <option value="Shipped"></option>
            <option value="Out For Delivery"></option>
            <option value="Delivered"></option>
            <option value="Cancelled"></option>
        </datalist>
    
        <input type="submit" value="Update Order Status"/> 
</form>


